<div class="row">
  <div class="col m10 offset-m1">
    <p id="notice"><%= notice %></p>

    <h1>ビデオリスト</h1>

    <%= link_to new_video_path, :class => 'btn-floating btn-large cyan pulse' do %>
    <i class="material-icons">add</i>
  <% end %>

  <ul class="collapsible expandable" data-collapsible="accordion">
    <% @videos.each do |video| %>
      <li>
        <div class="collapsible-header">
          <i class="material-icons">video_library</i>
          <%= link_to video.title, video %>
          <span class="badge">
            <%= link_to edit_video_path(video) do %>
            <i class="material-icons">create</i>
          <% end %>
          <%= link_to video, method: :delete, data: { confirm: '本当に消しますか？'} do %>
          <i class="material-icons">restore_from_trash</i>
        <% end %>
      </span>
    </div>
    <div class="collapsible-body">
      <p><%= video.description %></p>
    </div>
  </li>
<% end %>
</ul>
</div>
</div>

<script type="text/javascript">
var elem = document.querySelector('.collapsible.expandable');
var instance = M.Collapsible.init(elem, {accordion: false});
</script>
