<div class="parallax-container">
  <div class="parallax">
    <h1>
      <span>ようこそ</span>
      <strong>WEBDEMY</strong>
      <span>へ</span></h1><%= image_tag "mountain.jpg", class: "responsive-img" %></div>
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header">日本初、オンライン学習プラットフォーム</h2>
    <p class="grey-text text-darken-3 lighten-3">従来のオンライン学習とは異なり先生とのマンツーマンの状態でオンラインでお互いにリアルタイムで授業を展開していくスタイル。</p>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><%= image_tag "online.jpg", class: "responsive-img" %></div>
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header">学生や社会人の人気のコース多数あり</h2>
    <p class="grey-text text-darken-3 lighten-3">普段は授業やお仕事で中々学ぶ事が出来ない方や、遠方からの授業もオンラインなら大丈夫！</p>
    <a class="waves-effect waves-light btn-large">コース一覧</a>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><%= image_tag "man.jpg", class: "responsive-img" %></div>
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header">学生向けのコース</h2>
    <p class="grey-text text-darken-3 lighten-3">学生向けコースには就職に有利なポートフォリオ作り、またスキルシートや面接の対応など様々。</p>
    <a class="waves-effect waves-light btn-large">学生向け</a>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><%= image_tag "student.jpg", class: "responsive-img" %></div>
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header">社会人向けコース</h2>
    <p class="grey-text text-darken-3 lighten-3">学びたいけどスクールに通う時間がない方に仕事の合間で資格習得やスキルを学びキャリアップに繋げましょう。</p>
    <a class="waves-effect waves-light btn-large">社会人向け</a>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><%= image_tag "adult.jpg", class: "responsive-img" %></div>
</div>
<div class="section-1 white">
  <div class="row container">
    <h2 class="header">一部コース紹介</h2>
    <p class="grey-text text-darken-3 lighten-3">学びたいけどスクールに通う時間がない方に仕事の合間で資格習得やスキルを学びキャリアップに繋げましょう。</p>
  </div>
</div>

<div class="row">
  <div class="col s12 m3">
    <div class="card">
      <div class="card-image ">
        <img class="activator">
        <%= image_tag "html.jpg", class: "responsive-img" %>
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">HTLM/CSSコース<i class="material-icons right">more_vert</i>
        </span>
        <p>
          <a href="#">This is a link</a>
        </p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">デザインコース<i class="material-icons right">close</i>
        </span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="card">
      <div class="card-image ">
        <img class="activator">
        <%= image_tag "design.jpg", class: "responsive-img" %>
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">デザインコース<i class="material-icons right">more_vert</i>
        </span>
        <p>
          <a href="#">This is a link</a>
        </p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i>
        </span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="card">
      <div class="card-image ">
        <img class="activator">
        <%= image_tag "photo", class: "responsive-img" %>
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">フォトグラファーコース<i class="material-icons right">more_vert</i>
        </span>
        <p>
          <a href="#">This is a link</a>
        </p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i>
        </span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="card">
      <div class="card-image ">
        <img class="activator">
        <%= image_tag "marketing.jpg", class: "responsive-img" %>
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">マーケティングコース<i class="material-icons right">more_vert</i>
        </span>
        <p>
          <a href="#">This is a link</a>
        </p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i>
        </span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div>
  </div>
</div>

<footer >
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li>
            <a class="grey-text text-lighten-3" href="#!">Link 1</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <p>© 2014 Copyright Text</p>
    </div>
  </div>
</footer>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function () {
    var elems = document.querySelectorAll('.parallax');
    var instances = M.Parallax.init(elems, options);
  });

  // Or with jQuery

  $(document).ready(function () {
    $('.parallax').parallax();
  });
</script>
